<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/assets/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Open+Sans" rel="stylesheet"> 

    {% assets filters="sass", output="css/theme.css", "css/theme.sass" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    <title>{% block title %}{% endblock %}{{ SITENAME }}</title>
</head>
<body>
    {% include 'include/header.html' %}

    {% block content %}{% endblock %}
    
    {% include 'include/footer.html' %}
    <!-- show custom page for ie -->
</body>
</html>
