<footer>
    <div class="external-links">
        {% for link, url in SOCIAL %}
        <a href="{{ url }}" target="_blank"><img src="{{ SITEURL }}/theme/assets/{{ link | lower }}.svg" /></a>
        {% endfor %}
    </div>
    <p class="copyright">&copy; Giorgio Delgado 2013 - 2018. Source code viewable on <a href="https://gitlab.com/gDelgado14/gdelgado14.gitlab.io" target="_blank">GitLab</a>.</p>
</footer>
