
<div>
    <a class="header-main" href="{{ SITEURL }}">
        <h1>{{ SITENAME }}</h1>
    </a>
    
    <nav class="header-navigation">
        <ul>
            {% for page in pages %}
                <li>
                    <a class="header-item" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
    
            <li>
                <a class="header-item" href="{{ SITEURL }}/archives.html" >Archives</a>
            </li>
        </ul>
    </nav>
</div>
